@font-face {
    font-family: 'Bimbo Finetip';
    src: url('https/storage.googleapis.com/playground-bucket-v2.teleporthq.io/a3336d09-08f1-/Bimbo-Finetip.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

