
@font-face {
    font-family: 'bimbofinetip';
    src: url('@/assets/bimbofinetip-webfont.woff2') format('woff2'),
         url('@/assets/bimbofinetip-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}